se.qxx.jukebox/src/main/java/se/qxx/jukebox/settings/JukeboxSettings.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="JukeboxListenerSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="catalogs">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="catalog">
                <xs:complexType>
                  <xs:sequence>
                  	<xs:element name="extensions">
                  		<xs:complexType>
                  			<xs:sequence>
                  				<xs:element maxOccurs="unbounded"
                  					name="extension">
                  					<xs:complexType>
                  						<xs:attribute name="value"
                  							type="xs:string" use="required" />
                  					</xs:complexType>
                  				</xs:element>
                  			</xs:sequence>
                  		</xs:complexType>
                  	</xs:element>
                  	<xs:element name="vlcpath">
                  		<xs:complexType>
                  			<xs:sequence>
                  			</xs:sequence>
                  			<xs:attribute name="player"
                  				type="xs:string">
                  			</xs:attribute>
                  			<xs:attribute name="path"
                  				type="xs:string">
                  			</xs:attribute>
                  		</xs:complexType>
                  	</xs:element>
                  </xs:sequence>
                  <xs:attribute name="path" type="xs:string" use="required" />
                  <xs:attribute name="includeSubdirectories" type="xs:boolean" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="subFinders">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="subFinder">
                <xs:complexType>
                  <xs:attribute name="assembly" type="xs:string" use="required" />
                  <xs:attribute name="type" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="stringSplitters">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="splitter">
                <xs:complexType>
                  <xs:attribute name="regex" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="tcpListener">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="port">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:unsignedShort" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>